.review-container {
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 20px 20px;
}

.customer-details {
    display: flex;
    align-items: center;
}

.customer-details img {
    height: 50px;
    border-radius: 50%;
    border: 2px solid lightcyan;
}

.customer-details h5 {
    margin-left: 20px;
}

.review-details p {
    margin: 20px 0;
}

.rating {
    color: orange;
}

@media screen and (max-width:800px) {

    .review-container {
        margin-bottom: 25px;
    }
}