.navbar {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

.navbar a {
    margin: 0 15px;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    border-bottom: 2px solid skyblue;
    padding: 0 2px 5px 2px;
}

.navbar a:hover {
    border-bottom: 2px solid royalblue;

}